.team table tr > td:first-child, table th {
    font-weight: normal;
}

.team table th {
    text-align: center;
}

.team table td {
    vertical-align: top;
}

.apps img {
    width: 50px;
    vertical-align: middle;
}